Source: lxmenu-kano
Maintainer: Team Kano <dev@kano.me>
Section: x11
Priority: optional
Standards-Version: 3.9.4
Build-Depends: debhelper (>=9.0.0)

Package: lxmenu-kano
Architecture: all
Depends: ${misc:Depends}
Provides: lxmenu-data
Conflicts: lxmenu-data
Replaces: lxmenu-data
Description: Kano modified LXDE menu specification
 This package provides a menu setup for LXDE that has been modified
 for Kano OS.
 .
 It is largely based on the lxmenu-data Debian package.
